<style>

  .container {
    width: 35%;
  }

  .jumbotron {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  h1{
    text-align: center;
  }

  p {
    font-size: 20px;
  }
</style>
<h1><%= @team.name %></h1>
<div class="container text-center">
 <div class="jumbotron">

    <h3>League: <%= link_to @league.name, @league %> </h3>
    <h3>User: <%= link_to @user.username, @user %> </h3>
  </div>
  <% if @team.players.empty?%>
    <%= "You're team hasn't been drafted yet" %>
  <% else %>
  <h2>Players:</h2>

      <% @team.players.each do |player| %>
        <p><%= player.position %> - <%= player.name %></p>
        <% end %>
    <% end %>



  <% if current_user == @user %>
    <%= button_to "Edit Team Name", edit_league_team_path(@league, @team), method: :get, class: "btn btn-default btn-md" %>
  <% end %>
</div>
