<h1><%= @user.username %></h1>

<div class= "index">
  <h3>My Leagues </h3>
  <% @leagues.each do |league| %>
    <%= league.name %>
  <% end %>
</div>

<div class= "index">
  <h3>My Teams </h3>
  <% @teams.each do |team| %>
    <%= team.name %>
  <% end %>
</div>

<% if current_user.id == @user.id %>
  <%= button_to "Create a League", new_league_path, method: :get%>

  <%= button_to "Logout", logout_path, method: :delete %>
<% end %>
