<h1> <%= @team.name %>'s Pick </h1>

<%= form_for [@league, @team, @transaction] do |f| %>

  <%= f.label :player %>
  <%= f.collection_select :player_id, Player.available?, :id, :name %>
  <%= f.submit "Draft Player" %>

<% end %>
