<h1> <%= @team.name %>'s Pick </h1>
<h4> <%= @team.user.username %> </h4>

<%= form_for [@league, @team, @transaction] do |f| %>

  <%= f.label :player %>
  <%= f.collection_select :player_id, Player.available?.where("position = '#{@position}'"), :id, :name %>
  <%= f.submit "Draft Player" %>

<% end %>
