<h1> Login </h1>
<%= form_tag login_path do %>
<div>
<%= label_tag "Username" %>
<%= text_field_tag 'user[username]' %>
</div>
<div>
<%= label_tag "Password"%>
<%= password_field_tag 'user[password]' %>
</div>
<%= submit_tag "Login" %>
<% end %>

<h1> Sign Up </h1>
<%= form_for @user do |f| %>
<div>
<%= f.label :username %>
<%= f.text_field :username %>
</div>
<div>
<%= f.label :email %>
<%= f.text_field :email%>
</div>
<div>
<%= f.label :password %>
<%= f.password_field :password %>
</div>
<%= f.submit "Sign Up" %>
<% end %>
