<style>

  img {
    padding-top: 25px;
    border-radius: 10px;
  }

  h3 { display: inline; }
  p { display: inline; font-size: 20px;}

  button {
    padding-top: 10px;
  }
</style>

<div class="container text-center">
  <h1><strong><%= @draft.league.name %></strong></h1>

  <h3><strong> Draft Time:</strong></h3> <p><%= @draft.draft_time.strftime("%m/%d %I:%M %p") %></p><br>
<br>
  <% if current_user == @draft.league.owner && !@draft.closed%>
      <%= button_to "Start Draft", start_draft_path(@draft.league, @draft), method: :get, class: "btn btn-danger btn-lg" %>
  <% elsif @draft.closed %>
  <h4> The Draft is <strong>CLOSED</strong> </h4>
  <%= button_to "Go Back to League Page", league_path(@draft.league), method: :get, class: "btn btn-default btn-lg" %>
  <% else %>
    <%= button_to "Go Back to League Page", league_path(@draft.league), method: :get, class: "btn btn-default btn-lg" %>
  <% end %>

  <img src="https://cbstailgatefan.files.wordpress.com/2015/04/nfl-draft-roger-goodell.jpg?w=625">
</div>
