<!DOCTYPE html>
<html>
  <head>
    <title>FlatironFantasyFootball</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] %>
      <% @user = User.find(session[:user_id]) %>
        <%= link_to "Home", user_path(@user) %>
        <%= link_to "Logout", logout_path, method: :delete %>
        Signed in as: <%= User.find(session[:user_id]).username %>
      <% end %>
    <%= yield %>
  </body>
</html>
