<!DOCTYPE html>
<html>
  <head>
    <title>FlatironFantasyFootball</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] %>
      <% @user = User.find(session[:user_id]) %>
        <%= link_to "Home", user_path(@user) %>
        <%= link_to "Logout", logout_path, method: :delete %>
        Signed in as: <%= User.find(session[:user_id]).username %>
      <% end %>
    <%= yield %>
  </body>
</html>
